<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DWK Todo App</title>
</head>

<body>
  <h1>The project app</h1>
  <img src="{{.ImagePath}}" alt="Random image from picsum.photos" style="max-width:30%; height:auto;">
  <form>
    <div style="display: flex;">
      <input type="text" name="task" placeholder="New task">
      <button type="submit">Create todo</button>
    </div>
    <ul>
      {{range .Todos}}
      <li>{{.}}</li>
      {{else}}
      <li>No todos yet!</li>
      {{end}}
    </ul>
  </form>
  <p>DevOps with Kubernetes 2025</p>
</body>

</html>